<div class="jumbotron">
  <h1 class="display-3">Angular 2 Finance</h1>
  <p class="lead">Stocks, Bonds, Mutual Funds</p>
  <hr class="m-y-2">
  <p>A simple Angular 2 finance web application</p>

  <div class="m-x-auto p-a-2 m-t-2" style="width: 800px" *ngIf="updateEnabled">
    Stock Code: <input #updateStockCode [value]="selectedStock.stockCode" />
    Stock Name: <input #updateStockName [value]="selectedStock.name" />

    <button type="button" class="btn btn-warning" (click)="updateStock(updateStockCode.value, updateStockName.value)">UPDATE</button>
  </div>

  <div class="m-x-auto p-a-2" style="width: 900px">
    <table class="table table-striped table-inverse table-hover table-sm center">
      <thead>
        <tr>
          <th>#</th>
          <th>NAME</th>
          <th>STOCK CODE</th>
        </tr>
      </thead>

      <tr *ngFor="let stock of stocks">
        <td>{{stock.id}}</td>
        <td>
          <button type="button" class="btn btn-warning" (click)="loadDetails(stock)">UPDATE</button>
          <button type="button" class="btn btn-danger" (click)="deleteStock(stock.id)">DELETE</button>
        </td>
        <td>{{stock.name}}</td>
        <td>{{stock.stockCode}}</td>
      </tr>
    </table>
  </div>
  

  <h2>Add Stock</h2>
  Stock Code: <input #newStockCode />
  Stock Name: <input #newName />

  <button type="button" class="btn btn-primary" (click)="createStock(newStockCode.value, newName.value)">CREATE</button>

  <p class="lead">
    <a href="#" class="btn btn-primary btn-lg" role="button" (click)="createStock()">START</a>
  </p>
</div>